* {
    font-size: 1rem;
  }
  
  li:nth-child(odd) {
    background: #e1e6e5;
    margin: 1rem 0;
  }
  
  .yelow {
    background: rgb(240, 203, 17);
  }
  
  .silver {
    background: rgba(88, 88, 88, 0.5);
  }
  
  .red {
    background: rgba(231, 40, 40, 0.5);
  }
  
  .green {
    background: rgba(39, 211, 76, 0.5);
  }
  .container-stopwatch {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.stopwatch-display {
  padding: 1.5rem;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.stopwatch-display span {
  font-size: 2rem;
}

.stopwatch-control button {
  text-transform: uppercase;
  color: white;
  background: rgba(17, 24, 235, 0.829);
  border: 1px;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 1rem;
}

.stopwatch-control button:nth-child(2) {
  margin: 0 0.5rem;
}